# Base de datos
DATABASE_URL="postgresql://USUARIO:PASSWORD@localhost:5432/logistica_automotor?schema=public"

# pgAdmin (Docker)
POSTGRES_USER=usuario_ejemplo
POSTGRES_PASSWORD=password_ejemplo
POSTGRES_DB=logistica_automotor
PGADMIN_DEFAULT_EMAIL=admin@ejemplo.com
PGADMIN_DEFAULT_PASSWORD=admin